<!DOCTYPE html>
<html>
<head>
<title>Admin Dashboard</title>

<style>
body{
  font-family: Arial;
  padding:30px;
  background:#f5f7fb;
}
.card{
  background:white;
  padding:20px;
  border-radius:10px;
  margin-bottom:20px;
}
table{
  width:100%;
  border-collapse:collapse;
}
td, th{
  border:1px solid #ddd;
  padding:8px;
}
button{
  padding:6px 10px;
}
.logout{
  float:right;
  background:red;
  color:white;
}
</style>
</head>

<body>

<a href="/logout"><button class="logout">Logout</button></a>
<h2>Admin Dashboard</h2>

<a href="/admin_attendance">
<button style="background:green; color:white;">View Attendance</button>
</a>

<div class="card">
<h3>Create User</h3>

<form method="post" action="/create_user">
<input name="email" placeholder="Email">
<input name="password" placeholder="Password">
<input name="phone" placeholder="Phone">

<select name="role">
<option value="admin">Admin</option>
<option value="employee">Employee</option>
</select>

<button>Create</button>
</form>
</div>

<div class="card">
<h3>Leave Requests</h3>

<table>
<tr>
<th>ID</th>
<th>Email</th>
<th>Reason</th>
<th>From</th>
<th>To</th>
<th>Status</th>
<th>Action</th>
</tr>

{% for l in leaves %}
<tr>
<td>{{l[0]}}</td>
<td>{{l[1]}}</td>
<td>{{l[2]}}</td>
<td>{{l[3]}}</td>
<td>{{l[4]}}</td>
<td>{{l[5]}}</td>
<td>

<form method="post" action="/leave_action">
<input type="hidden" name="id" value="{{l[0]}}">
<button name="action" value="Approved">Approve</button>
<button name="action" value="Rejected">Reject</button>
</form>

<form method="post" action="/send_whatsapp">
<input type="hidden" name="phone" value="{{l[6]}}">
<input type="hidden" name="message"
value="Your leave from {{l[3]}} to {{l[4]}} is {{l[5]}}">
<button style="background:green;color:white;">WhatsApp</button>
</form>

</td>
</tr>
{% endfor %}

</table>
</div>

</body>
</html>