<!DOCTYPE html>
<html>
<head>
<title>Employee Dashboard</title>

<style>
body{
  font-family:sans-serif;
  background:#f5f7fb;
  padding:30px;
}

.card{
  background:white;
  padding:20px;
  border-radius:10px;
  margin-bottom:20px;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

input{
  width:100%;
  padding:10px;
  margin:8px 0;
}

button{
  background:#4CAF50;
  color:white;
  border:none;
  padding:10px;
  border-radius:5px;
}

table{
  width:100%;
  border-collapse:collapse;
}

td,th{
  padding:10px;
  border-bottom:1px solid #ddd;
}
</style>
</head>

<body>

<h2>Employee Dashboard</h2>

<div class="card">
<h3>Apply Leave</h3>

<form method="post" action="/apply_leave">
  <input type="hidden" name="email" value="{{email}}">

  <input name="reason" placeholder="Reason" required>
  <input type="date" name="from_date" required>
  <input type="date" name="to_date" required>

  <a href="/logout">
  <button style="background:red; float:right;">Logout</button>
</a>

  <button>Apply Leave</button>
</form>
</div>

<div class="card">
<h3>Your Leaves</h3>

<table>
<tr>
<th>ID</th>
<th>Reason</th>
<th>From</th>
<th>To</th>
<th>Status</th>
</tr>

{% for l in leaves %}
<tr>
<td>{{l[0]}}</td>
<td>{{l[2]}}</td>
<td>{{l[3]}}</td>
<td>{{l[4]}}</td>
<td>{{l[5]}}</td>
</tr>
{% endfor %}

</table>
</div>

</body>
</html>